.vscode/**
.vscode-test/**
.github/**
out/test/**
mcp/**

src/**
test-setup/**
README.md
README.marketplace.md
.nvmrc
.gitignore
.yarnrc
vsc-extension-quickstart.md
images/*.svg
eslint.config.mjs
**/tsconfig.json
**/*.map
**/*.ts
